{% extends "base.html" %}

{% block title %}İletişim - Kulüp Yönetim Sistemi{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <h1>İletişim</h1>
        <p>Her türlü soru, iş birliği veya destek talepleri için aşağıdaki iletişim bilgilerini kullanabilirsiniz:</p>
        <ul>
            <li><strong>E-posta:</strong> info@kulup-sitesi.example</li>
            <li><strong>Telefon:</strong> +90 312 000 0000</li>
            <li><strong>Adres:</strong> Ankara Bilim Üniversitesi, Kampüs</li>
        </ul>
        <p>Ayrıca isterseniz <a href="mailto:info@kulup-sitesi.example">info@kulup-sitesi.example</a> adresine mail gönderebilirsiniz.</p>
    </div>
</div>
{% endblock %}
